.wrapper {
    padding: 10px;
    background-image: url('/assets/bt3.png');
    background-repeat: no-repeat;
    height: 80%; background-position: right;
   
}

 
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding-top: 15px;
}